body {
    background-image: url(texture3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 18px;  

}

.hero-image {
    background-image: url(blue-dot-splash.jpg);
    box-shadow: 0px 6px 24px 0px rgba(0,0,0,0.75);
    border-radius: 18 px;

}

.hero-text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    text-align: center;
}

.container > img {
    width: 90%
}
h1 {

}

footer{
    text-align: center;
    padding: 100px;
    color: black;
}